{:backup-name          "home"
 :backup-user          {:clear-password {:plain "secret"}}
 :local-management     {:gens-stored-on-source-system 3}
 :backup-elements      [{:type        :file-plain
                         :name        "home"
                         :backup-path ["/home/"]
                         :new-owner "test"}
                        {:type        :rsync
                         :name        "home_rsync"
                         :backup-path ["/home/"]}]}
