{:backup-name "duplicity"
 :backup-user {:clear-password {:password-store-single "jem/meissa/password"}
               :authorized-keys [{:password-store-single "jem/meissa/ssh/id_rsa_pub"}]
               :settings #{}}
 :local-management {:gens-stored-on-source-system 1}
 :transport-management  {:duplicity-push
                         {:public-key {:password-store-multi "meissa/tenant/meissa/backup/gpg.pub"}
                          :private-key {:password-store-multi "meissa/tenant/meissa/backup/gpg.sec"}
                          :passphrase {:password-store-single "meissa/tenant/meissa/backup/gpg.passphrase"}
                          :target-s3 {:aws-access-key-id {:password-store-single "meissa/tenant/meissa/aws/backup.key.id"}
                                      :aws-secret-access-key {:password-store-single "meissa/tenant/meissa/aws/backup.key.secret"}
                                      :bucket-name "meissa-backup"
                                      :directory-name "backup-test"}}}
 :backup-elements
 [{:type :file-compressed
   :name "ssh"
   :root-dir "/etc/"
   :subdir-to-save "ssh"}]}
