#backup the specified files and directories
tar {{tar-options}} {{backup-transport-folder}}/{{backup-file-name}} {{backup-path}} -C /
chown {{user-name}}:{{user-name}} {{backup-transport-folder}}/{{backup-file-name}}
